/* ---------------------------------- Header --------------------------------- */

.header {
    padding: 15px;
    background-color: #585858;
}

.header .menu_buttons a {
    color: white;
    text-align: center;
}

.header .menu_buttons li {
    padding-inline-end: 7px;
}

.header .menu_buttons a:hover {
    background-color: rgb(235, 44, 235);
    color: white;
}

.header .menu_buttons a:visited {
    color: white;
}

.header .menu_buttons .active {
    background-color: violet !important;
}

@media (max-width: 576px) {
    .header .menu_search {
        padding-top: 15px;
    }
}

@media (max-width: 828px) {
    .header .menu_buttons li {
        padding: 7px;
    }
    .header .menu_search {
        text-align: center;
    }
}


/* ----------------------------------- Main - Perfil ---------------------------------- */

.main {
    /* background-color: #808080; */
}

.main .perfil_inicio {
    padding-top: 30px;
    padding-bottom: 15px;
}

.main .perfil_img {
    width: 80%;
}

.main h1 {
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 991px) {
    .perfil_tituloNome,
    .perfil_descricao,
    .perfil_redes {
        text-align: center;
    }
    .perfil_descricao {
        text-align: justify;
    }
    .perfil_img {
        width: 50% !important;
    }
}

@media (max-width: 576px) {
    .perfil_img {
        width: 80% !important;
    }
}

.main .perfil_tituloNome {
    padding-top: 35px;
}

.main .perfil_descricao {
    padding-top: 10px;
}

.main .perfil_redes {
    padding-top: 40px;
}

.main .perfil_icones a {
    font-size: 40px;
    color: black;
}

.main .perfil_icones i {
    padding-inline-end: 7px;
}


/* ---------------------------------- Geral ---------------------------------- */

.pink {
    background-color: violet;
}

.white {
    color: white;
}