/* ---------------------------------- Header --------------------------------- */

.header {
    padding: 15px;
    background-color: gray;
}

.menu_buttons a {
    color: white;
    text-align: center;
}

.menu_buttons li {
    padding-inline-end: 7px;
}

.menu_buttons a:hover {
    background-color: rgb(235, 44, 235);
    color: white;
}

.menu_buttons a:visited {
    color: white;
}

.menu_buttons .active {
    background-color: violet !important;
}

@media (max-width: 576px) {
    .menu_search {
        padding-top: 15px;
    }
}

@media (max-width: 828px) {
    .menu_buttons li {
        padding: 7px;
    }
    .menu_search {
        text-align: center;
    }
}


/* ----------------------------------- Main ---------------------------------- */

.main {
    background-color: tomato;
}

.main img {
    width: 50%;
}


/* ---------------------------------- Geral ---------------------------------- */

.pink {
    background-color: violet;
}

.white {
    color: white;
}