/* ---------------------------------- Header --------------------------------- */

.header {
    padding: 15px;
    background-color: #585858;
}

.menu_buttons {
    padding-left: 30px;
    padding-right: 30px;
}

.menu_buttons a {
    color: white;
    text-align: center;
}

.menu_buttons li {
    padding-inline-end: 7px;
}

.menu_buttons a:hover {
    background-color: #3f3f3f;
    color: white;
}

.menu_buttons a:visited {
    color: white;
}

.menu_buttons .active {
    background-color: #333333 !important;
}

.menu_search {
    padding-right: 30px;
    padding-left: 30px;
}

@media (max-width: 576px) {
    .menu_search {
        padding-top: 15px;
    }
}

@media (max-width: 828px) {
    .menu_buttons li {
        padding: 7px;
    }
    .menu_search {
        text-align: center;
    }
}


/* ----------------------------------- Perfil ---------------------------------- */

.perfil_inicio {
    padding-top: 40px;
    padding-bottom: 15px;
}

.perfil_img {
    width: 80%;
}

.perfil_tituloNome {
    padding-top: 10px;
}

.perfil_descricao {
    text-align: justify;
}

.perfil_inicio h1 {
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 991px) {
    .perfil_img {
        width: 50% !important;
    }
}

@media (max-width: 576px) {
    .perfil_img {
        width: 80% !important;
    }
}

.perfil_tituloNome {
    padding-top: 35px;
}

.perfil_descricao {
    padding-top: 10px;
}

.perfil_redes {
    padding-top: 40px;
}

.perfil_icones a {
    font-size: 40px;
    color: black;
}

.perfil_icones i {
    padding-inline-end: 7px;
}


/* ----------------------------------- Projetos ---------------------------------- */

.projetos_geral {
    margin-top: 50px;
}

.projetos_imgs img {
    max-width: 100%;
    padding-top: 40px;
}

.projetos_imgsDescricao {
    font-weight: bold;
}


/* ----------------------------------- Experiência ---------------------------------- */

.experiencias_geral {
    margin-top: 50px;
}

.experiencias_geral img {
    max-width: 50%;
}

.experiencias_rows {
    padding-top: 40px;
}

.experiencias_titulo {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}


/* ---------------------------------- Geral ---------------------------------- */

.geral_titulo {
    font-weight: bold;
    font-size: 30px;
}

.geral_carregar {
    padding-top: 45px;
    margin-left: 0px;
    color: white;
}

.geral_carregar button {
    background-color: #333333;
    color: white;
    font-weight: bold;
}

.geral_carregar button:hover {
    color: white;
}

.geral_carregar i {
    padding-right: 8px;
    color: white;
}

.carbon {
    background-color: #333333;
}

.white {
    color: white;
}